<h2>G'day, <%= @user.name %>, who's <%= @user.screen_name%>, here are all your tweets! </h2>

<table>
    <tr>
        <th>screen name </th>
        <th>text</th>
        <th>time</th>
    </tr>
    <% @user.tweets.each do |tweet| %>
     <tr>
        <td><%= tweets.all %></td>
        <td>
             
         </td>
     </tr>   
    <% end %>
    <%= form_for @tweet do |tweet_form| %>
        <%= tweet_form.submit "Submit" %>
    <% end %>
</table>
    
 #index needs get access to creating a new tweet
 #I need to see how the me page can connect to the tweet.create page
