<h2>G'day, <%= @user.name %>, who's <%= @user.screen_name%>, here are all your tweets! </h2>

<table>
    <tr>
        <th>screen name </th>
        <th>text</th>
        <th>time</th>
    </tr>
    <% @user.tweets.each do |tweet| %>
        <tr>
            <td><%= tweet.user.screen_name %></td>
            <td><%= tweet.text %></td>  
            <td><%= tweet.created_at %></td> 
         </td>
        </tr>   
    <% end %>

    <%= form_for @tweet do |tweet_form| %>
        Text: <%= tweet_form.text_field :text %> <br />
        <%= tweet_form.submit "Submit" %>
        <% if @tweet.errors.any? %>
            <% @tweet.errors.full_messages. each do |message| %>
              <li><%= message %></li>
              <% end %>
         <% end %>
    <% end %>
</table>